.wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 9999px;
    overflow: hidden;
    background: #fff;
    width: 100%;
    max-width: 640px;

    @media (max-width: 500px) {
        border-radius: 12px;
    }
}

.inputs {
    display: flex;
    flex: 1;
    align-items: center;
}

.field {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 20px;
    flex: 1;

    input {
        border: none;
        outline: none;
        font-size: 0.875rem;
        font-family: inherit;
        color: #222222;
        width: 100%;
        background: transparent;

        &::placeholder {
            color: #929292;
        }
    }
    &:last-child {
        flex: 0.3;

        @media (max-width: 500px) {
            display: none;
        }
    }
}

.divider {
    width: 1px;
    height: 24px;
    background: #dddddd;
    flex-shrink: 0;

    @media (max-width: 500px) {
        display: none;
    }
}

.icon {
    font-size: 0.75rem;
    color: #929292;
    flex-shrink: 0;
}

.searchBtn {
    padding: 14px 22px;
    background: #ff385c;
    color: #fff;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 0 9999px 9999px 0;

    &:hover {
        background: #e00b41;
    }
}
